@import "@mypz/react-kit/components/mypz.scss";

.page-properties-list {
  .page-properties-list__create-new {
    display: flex;
  }

  .page-properties-list__search-field {
    width: 20rem;
  }

  .page-properties-list__see-details {
    line-height: 0.5rem;
    display: flex;
  }

  .page-properties-list__pagination-block {
    margin: 0.2rem auto;
    display: flex;

    .page-properties-list__pagination-block__total{
      font-size: 13px;
      font-weight: bold;
      align-self: center;
    }

    .page-properties-list__pagination-block__selector {
      margin: auto;
    }
  }
}